<!DOCTYPE html>
<html>
<head>
    <title>Detalle del Curso</title>
    <style>
        body { font-family: Arial, sans-serif; }
        h1, h2, p { margin: 0; }
        .header { text-align: center; margin-bottom: 20px; }
        .content { margin: 20px; }
    </style>
</head>
<body>
    <div class="header">
        <h1>{{ curso.nombre }}</h1>
    </div>
    <div class="content">
        <p><strong>Profesor:</strong> {{ curso.profesor.get_full_name }}</p>
        <p><strong>Fecha de inicio:</strong> {{ curso.fecha_inicio|date:"d M Y" }}</p>
        <p><strong>Fecha de fin:</strong> {{ curso.fecha_fin|date:"d M Y" }}</p>
        <p><strong>Descripción:</strong> {{ curso.descripcion }}</p>
        <p><strong>Valor en puntos:</strong> {{ curso.valor_en_puntos }}</p>
        <p><strong>Cupo:</strong> {{ curso.cupo }}</p>
    </div>
</body>
</html>
