{% extends 'base.html' %}
{% load static %}

{% block title %}Cursos Disponibles{% endblock %}

{% block content %}
    <h2 class="my-4">Cursos Disponibles</h2>
    <div class="row">
        {% for curso in cursos %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if curso.imagen %}
                        <img src="{{ curso.imagen.url }}" class="card-img-top curso-img" alt="Imagen de {{ curso.nombre }}">
                    {% else %}
                        <img src="{% static 'img/default_course.jpg' %}" class="card-img-top curso-img" alt="Imagen por defecto">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ curso.nombre }}</h5>
                        <p class="card-text">
                            <strong>Profesor:</strong> {{ curso.profesor.get_full_name }}<br>
                            <strong>Fecha de inicio:</strong> {{ curso.fecha_inicio|date:"d M Y" }}<br>
                            <strong>Fecha de fin:</strong> {{ curso.fecha_fin|date:"d M Y" }}<br>
                            <strong>Valor en puntos:</strong> {{ curso.valor_en_puntos }}<br>
                            <strong>Cupo:</strong> {{ curso.cupo }}<br>
                            <strong>Descripción:</strong> {{ curso.descripcion|truncatechars:170 }}
                        </p>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'matricularse' curso.id %}" class="btn btn-success">Matricularse</a>
                            <a href="{% url 'curso_detalle' curso.id %}" class="btn btn-warning">Ver Detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
